{% extends 'duplicate_cleanup/index.html' %}

{% block content %}

{# block title Duplicate Cleanup, list all dupsets endblock #}

{% for row in rows %}
  {% if loop.changed(row.dupset) %}
  <hr />
    <a href="{{ url_for('duplicate_cleanup.showdupset', dupset = row.dupset+0) }}">Dupset {{ row.dupset }} Details</a>
  &middot;
  reset 
  <a href="{{ url_for('duplicate_cleanup.resetdupset', dupset = row.dupset+0) }}">⨀</a>
  &middot;
    {% if row.human_verified %}
    Human Verified &middot;
    {% endif %}

    {% if row.goodid %}
    GoodID: {{ row.goodid }} &middot;
    {#  
    <!-- {% elif row.goodid == 0 %}
    This is a bad dupset, these are actually individual ID_NUMs and should be human verified, n
    ot processed here --> #}
    {% else %}
    GoodID unknown, or unmatched set &middot;
    {% endif %}

    From {{ row.db }}..{{ row.origtablewithdup }}
  {% endif %}
  
  <p>{{ row.id_num }} {{ row.LastFirst }}
    {% if row.birth_name is not none  %} &middot; Birth_Name={{ row.birth_name }}{% endif %}
    {% if row.preferred_name is not none %} &middot; Preferred_Name={{ row.preferred_name }}{% endif %}
  </p>

{% endfor %}

{% endblock %}