<!doctype html>
<html>
<head>
<title>Intranet{% if pgtitle %} - {{ pgtitle }}{% endif %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
<nav>
  <h1><a href="{{ url_for('index') }}">Intranet</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user }}</span></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
    <li><span>Guest</span></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
      <!--  $_SERVER['REMOTE_HOST']	or $_SERVER['REMOTE_ADDR'] request.environ['RAW_URI'] -->
    {% endif %}
    <li><span>{{ request.remote_addr  }}</span></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>
</html>